body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/* navbar */
.navbar {
  height: 5rem;
  background-color: beige;
}

.fa-regular {
  color: #fe424d;
  font-size: 2.25rem;
  padding-top: 0.5rem;
}

.nav-link {
  color: #222222 !important;
  font-size: 1.25rem !important;
}
.nav-btn a {
  text-decoration: none !important;
  color: #222222;
  font-weight: 550;
}
.nav-btn {
  scale: 0.9;
}

/* footer */

.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-socials i {
  margin-right: 0.75rem;
  font-size: 1.25rem;
  margin-top: 1rem;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info {
  display: flex;
  height: 8rem;
  background-color: #ebebeb;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
  text-align: center;
}

/* cards */
.listing-card {
  border: none !important;
  margin-bottom: 3rem;
  width: 100%;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover;
  height: 20rem;
}

.card-body {
  padding: 0 !important;
}

.card-text {
  font-weight: 600 !important;
}

.listing-links {
  text-decoration: none;
}

/* .card-img-overlay{
    opacity: 0;
}; */

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

.add-btn,
.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* show page */
.btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tittle {
  margin-left: 15rem;
}

.show-btn {
  margin-left: 20px;
}

.signup {
  border: 2px solid black;
  margin-bottom: 30px;
  padding: 50px 20px;
  border-radius: 10px;
  background: repeating-linear-gradient(
    to left bottom,
    rgb(209, 209, 216, 0.1) 10%,
    rgb(179, 185, 179, 0.3) 10%,
    rgb(175, 175, 174, 0.5) 20%,
    rgb(90, 87, 87, 0.3) 30%
  );
}
.signup:hover {
  box-shadow: 10px 10px 20px rgb(86, 84, 84);
}

.img {
  width: 300px;
  height: 250px;
  opacity: 0.7;
}
